<form action="/confirmation" method="post">

    <input id='product-id' name='product-id' type='hidden' value="@Model["product"].GetId()">
    @if(@Model["product"].GetCount() == 0)
    {
        <div class = "col-xs-8">
            <h3>Not available in stock.</h3>
        </div>
    }
    else
    {
        <div class="col-xs-4">
            <!-- <label for="quantity">Quantity</label> -->
            <select class="product_quantity" name="quantity">
                @for(int i = 1; i <= @Model["product"].GetCount(); i++ )
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="col-xs-4">
            <button type="submit" name="submit">Add To Cart</button>
        </div>
    }
</form>
