@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model["product"].GetName() has been added to your cart.</h2>

<form action="/product_added" method="post">
    <button type="submit" name="button">Keep shopping</button>
</form>

<form action="/checkout">
    <button type="submit" name="button">Check out</button>
</form>

<p><a href="/">Return home</a></p>
