@{
    Layout="Shared/_Layout.cshtml";
}
<!-- hide this if the user is logged in -->
<h2><a href="/sign_up">Create an account</a></h2>
<h2><a href="/log_in">Log in to your account</a></h2>


<!-- Main page here -->
<h1>All Categories</h1>
@if(@Model["categories"].Count != 0)
{
    @foreach(var category in @Model["categories"])
    {
        <h2>@category.GetName()</h2>
    }
}

<h1>All Products</h1>
@if(@Model["products"].Count != 0)
{
    @foreach(var product in @Model["products"])
    {
        <h2><a href='/product/@product.GetId()'>@product.GetName()</a></h2>
    }
}

<<<<<<< HEAD
@* Main page here *@
=======
@* ===================PRODUCT CREATE TEST SECTION START===================*@
<div class="form-group">
    <form action="/products" method="post">
        <input class="form-control" type="text" name="product-name" placeholder="Product Name">
        <input class="form-control" type="text" name="product-description" placeholder="Description">
        <input class="form-control" type="number" name="product-price" placeholder="Product Price">
        <input class="form-control" type="number" name="product-count" placeholder="Product Count">
        <input class="form-control" type="number" name="product-rating" placeholder="Product Rating">
        <button class="btn btn-success" type="submit" name="button">Add Product</button>
    </form>
</div>
@* ===================PRODUCT CREATE TEST SECTION END=====================*@
>>>>>>> 42c9a342624f9502e55fc231c170dc435ca4d93c
