@{
    Layout="Shared/_Layout.cshtml";
}

<form action="/signed_in" method="post">
    <label for="user-name">User Name: </label>
    <input type="text" name="user-name" required>
    <label for="password">Password: </label>
    <input type="text" name="password" required>
    <button type="submit" name="">Submit</button>

</form>
