@if (@Model == null)
{
    <h3>Error, user log in failed. Please try again or sign up</h3>
    <h4><a href="/log_in">Return to log in page</a></h4>
    <h4><a href="/sign_up">Sign up for an account</a></h4>
}
else
{
    <h1>Welcome!!!</h1>
    <h2><a href="/">Start shopping</a></h2>
}
