@{
    Layout="Shared/_Layout.cshtml";
}

@if (@Model["user"] == null)
{
    <h3>Log in failed. Please <a href="/log_in">try again </a> or <a href="/sign_up">create a new account</a>.</h3>
}
else
{
    <h1>Welcome @Model["user"].GetFirstName()!!!</h1>
    <h2><a href="/">Start shopping</a></h2>
}
