@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete this @Model.GetName()?</h1>

<form action="/product/deleted/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-lg btn-primary" type="submit">Yes</button>
</form>

<!-- add no, jk -->
