@{
    Layout="Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this product from your cart?</h3>

<form action="/product/deleted/@Model.GetId()" method="post">
    <div class="form-group delete-product">
        <label><p>@Model.GetName()</p></label>
      <input type="hidden" name="_method" value="DELETE">
    </div>
<div class="buttons">
     <button class="btn btn-warning" type="submit">Delete</button>
</div>

</form>
