@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete this product?</h1>

<form action="/product/deleted/@Model.GetId()" method="post">
    <div class="form-group delete-product">
        <label><h2>@Model.GetName()</h2></label>
      <input type="hidden" name="_method" value="DELETE">
    </div>
<div class="buttons">
     <button class="btn btn-lg btn-primary" type="submit">Delete</button>
</div>
</form>
