<form action="/user_created" method="post">
    <label for="first-name">First Name: </label>
    <input type="text" name="first-name">
    <label for="last-name">Last Name: </label>
    <input type="text" name="last-name">
    <label for="user-name">User Name: </label>
    <input type="text" name="user-name">
    <label for="password">Password: </label>
    <input type="text" name="password">

    <label for="street">Street: </label>
    <input type="text" name="street">
    <label for="city">City: </label>
    <input type="text" name="city">
    <label for="State">State: </label>
    <input type="text" name="State">
    <label for="zip-code">Zip code: </label>
    <input type="number" name="zip-code">
    <label for="phone-number">Phone number: </label>
    <input type="text" name="phone-number">

    <button type="submit" name="">Submit</button>

</form>
