@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Thank you for your purchase @Model.GetFirstName()</h1>
<h2>You have successfully ordered your products and they will be shipped to you in 3-5 business days</h2>

<p><a href="/">Return home</a></p>
